flows_vinicius-3570R-370R-470R-450R-510R-4450RV.json
[{"id":"206366d1.2dd852","type":"tab","label":"IOT_TRAB1_VINICIUS_SAMUEL","disabled":false,"info":""},{"id":"a2ba7a75.b3b968","type":"telegram bot","z":"","botname":"TrabIOTVS","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"e7f4f632.906af8","type":"mqtt-broker","z":"","name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7f99905b.22e93","type":"telegram receiver","z":"206366d1.2dd852","name":"","bot":"a2ba7a75.b3b968","saveDataDir":"","filterCommands":false,"x":110,"y":340,"wires":[["1da789d5.f8e81e","d3aed242.db2ed"],[]]},{"id":"711f628d.b4b1cc","type":"telegram sender","z":"206366d1.2dd852","name":"","bot":"a2ba7a75.b3b968","x":510,"y":220,"wires":[["41493e3b.aea998"]]},{"id":"41493e3b.aea998","type":"debug","z":"206366d1.2dd852","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"d3aed242.db2ed","type":"function","z":"206366d1.2dd852","name":"","func":"msg.payload = {};\nvar temperatura = flow.get(\"sensordata\");\nmsg.payload.chatId = 1096948909;\nmsg.payload.type = \"message\";\nmsg.payload.content = \"A temperatura no seu quarto é de: \" + temperatura + \"ºc\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["711f628d.b4b1cc"]]},{"id":"1da789d5.f8e81e","type":"debug","z":"206366d1.2dd852","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"4ec55a24.dfd29c","type":"mqtt in","z":"206366d1.2dd852","name":"InputSensor","topic":"iot","qos":"0","datatype":"auto","broker":"e7f4f632.906af8","x":90,"y":40,"wires":[["2e2b3312.2ff124"]]},{"id":"225c5cde.297c5c","type":"debug","z":"206366d1.2dd852","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":40,"wires":[]},{"id":"2e2b3312.2ff124","type":"change","z":"206366d1.2dd852","name":"","rules":[{"t":"set","p":"sensordata","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":40,"wires":[["225c5cde.297c5c"]]}]